/*

"Hovering over nav items shifts the other items and is a little distracting."
 - fixed text size change and displacement of other text on hover.

"Didn't realize I could click on each character"
 - added color change on hover

 reorganized some smaller css to make file smaller and more concise.

 styled and validated form

*/
:root{
    --PrimaryBackground: #7c2b18; /* Title and nav */
    --SecondaryBackground: rgb(45, 68, 47); /* character cards and footer */
    --SiteBackground: rgb(43,43,43);
    --gridBackground: #444444;
}

body {
    background-color:var(--SiteBackground);
}

p, h3{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

figure { /* Have no extra spacing around the logo */
    padding: 0px;
    margin: 0px;
}

h3 { /* For Primary Title */
    text-shadow: 0 0 15px #000;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
}

.grid {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-areas: 
            "header header"
            "nav main"
            "nav main"
            "footer footer";
    background-color: var(--SiteBackground);/*rgb(43,43,43);//*/
    width:auto;
    height:auto;
    margin: 0px;
}

.nav {
    grid-area: nav;
    width: 120px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: var(--PrimaryBackground);
}


.navlink {
    text-shadow: 0 0 15px #000;
    padding-left: 0px;
    padding-right: 0px;
}

.navlink:hover {
    color: #607868;
    cursor: pointer;
    text-shadow: none;
}


.title {
    width: 500px;
    flex-grow: 100;
    font-size: 50px;
    margin: 20px;
    margin-right: 0px;
    text-shadow: 0 0 15px #000;
    font-weight: bold;
    align-content: flex-end;
    padding-left: 20px;
    background-color: var(--PrimaryBackground);
}

.title, .nav, .main, .characterCard { /* Set Site Borders */
    border: white solid 3px;
    border-radius: 10px;
}

.main {
    grid-area: main;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    background-color: rgb(45, 68, 47);
    justify-content: flex-start;
    width: auto;
    height: auto;
    border-radius: 10px;
    flex-direction: row;
}

.footer {
    grid-area: footer;
    background-color: #607868;
    padding-left: 20px;
    border-radius: 10px;
}

.nav, header, .main, .footer {
    margin: 20px;
    margin-top: 0px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0px;
}

.characterCard{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #607868;
    box-sizing: border-box;
    width: 220px;
    height: 220px;
}

.characterCard:hover {
    background-color: var(--PrimaryBackground);
    border-color: white;
}

.characterCard, .main { /* Set Grid Borders */
    border-color: #7c2b18;
    border-style: dashed;
}

.characterCard > p {
    padding: 10px;
    margin: 0px;
}

.characterCard > img {
    background-color: white;
}

.characterPage { /* Start Character Pages Hidden */
    display: none;
}

.CharacterName{
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 0px 6px #7c2b18;/*Darker matching red*/
}

.characterImg, .logo{
    width:100px;
    height: 100px;
    margin: 10px;
    align-content: center;
}

figcaption{
    padding-left: 20px;
    color: white;
}

iframe, #affiliate > figure {
    margin: 20px;
}

#creationTips, #books, #logVisit, #thankYou, #formDiv{
    display: none;
    flex-direction: column;
}

#affiliate {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-flow: wrap;
}

#books > h3 {
    margin-bottom: 0px;
}

/* FORM PAGE*/

#logVisit {
    width: 100%;
    color: whitesmoke;
}

#formDiv{
    margin:20px;
    width: 40%;
    max-width: 1200px;
    margin: 0 auto;
}

#visitForm, #thankYou {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#visitForm > ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding:0;
}

#visitForm > ul > li {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

#visitForm > ul > li > label, h2 {
    margin-right: auto;
}

textarea {
    width: 100%;
}

/* Validation */

.errorMsg {
    color: red;
    display: none;
    height: 20px;
    min-width: 350px; /* prevent wrapping on same line as input*/
    padding-top: 5px;
}

input.was-validated:invalid {
    color: red;
    border: 1px solid red;
}

input.was-validated:invalid ~ div {
    display: block;
}

/* Visitor Section and Table*/

button {
    margin: 5px;
}

table {
    /*border: solid black 2px;*/
    border-radius: 20px;
    background-color: none;/*var(--SecondaryBackground);/*/
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

}

tr:nth-child(odd){
    background-color: var(--PrimaryBackground);
}
tr:nth-child(even){
    color: black;
    background-color: lightgrey;
}
td {
    padding: 2px;
}

#visitorTableContainer {
    display: flex;
    flex-direction: column;
}

#newVisit{
    width: 100px;
    margin: 20px;
}


/* Media Changes*/

@media screen and (max-width: 920px) {
    .logo {
        display: none;
    }
    .title {   
        margin-left: 0px;
    }
}
@media screen and (max-width: 715px) {
    #visitForm {
        width: 250px;
    }
    .errorMsg {
        min-width: 350px; 
    }
    iframe {
        width: auto;
    }
    .main {
        flex-direction: row;
    }
    #affiliate {
        flex-direction: column;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
                "header header"
                "nav nav"
                "main main"
                "footer footer";
    }

    .nav {
        width: auto;
    }
  }