/*
Changed Grid template for new layouts

changed what items matched each others colors.

changes default and hover colors as well as border styles of most elements

changes shadows to work with new color pallet

Maintains ability to be viewed in smaller resolutions

updated css to include styling for form and added background and border radius to form

*/

:root{
    --background: #057DCD;
    --mainBackground: #E8EEF1;
    --cardBackground: #43B0F1;
    --borderColor: black;
}

p, h3, h1, .title {
    color: black;
}

.grid {
    grid-template-columns: 140px 1fr;
    grid-template-areas: 
            "header header"
            "nav nav"
            "main main"
            "footer footer";
}

.title {
    text-align: center;
}

.nav {
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    font-size: 22px
}

.navlink {
    margin: 10px;
}

.navlink:hover {
    color: var(--background);
    text-shadow: none;
}

.title, .nav, .main, .characterCard, .footer {
    border: var(--borderColor) solid 3px;
    border-radius: 10px;
}

.CharacterName, h3, .title, .navlink{
    text-shadow: 0px 0px 2px grey;
}

.title, .nav, .footer, .main {
    background-color: var(--mainBackground);
}

body, .grid, .characterCard:hover {
    background-color: var(--background);
}

.characterCard {
    background-color: var(--cardBackground);
}

#logVisit {
    width: 100%;
    color: black;
}

#formDiv ul{
    padding: 20px;
    border-radius: 20px;
    background-color: var(--cardBackground);
}

tr:nth-child(odd){
    background-color: var(--cardBackground);
}